### normal files
.history/
.idea/
temp.*
test.*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### cache files

### some packages without copyrights
sources/temp/CPS.tgz
sources/temp/sac-linux_x86_64.tar.gz
sources/temp/IASP91.tar.gz